.woocommerce-Price-amount span.woocommerce-Price-currencySymbol {
  margin-left: 10px;
}

p.stock.wd-style-default.in-stock:before {
  content: "" !important;
  display: inline-block !important;
  background-color: #24a148 !important;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-right: 8px;
}

p.stock.in-stock.wd-style-default {
  font-family: "Noto Sans";
  font-size: 14px;
  color: #525252;
  line-height: 20px;
  font-weight: 400;
  margin: 4px 0px 0px;
}

.additional-information-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 24px;
  padding: 24px;
  padding-top: 16px;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: 0 !important;
  background: inherit !important;
  font-weight: 700;
  color: #525252;
  border-bottom: 1px solid #e0e0e0 !important;
  font-family: "Noto Sans";
  font-size: 14px;
  line-height: 20px;
  font-family: "Noto Sans";
  line-height: 20px;
}

.ui-state-default:first-child {
  border-top: 1px solid #e0e0e0 !important;
}

.ui-accordion .ui-icon {
  left: 95% !important;
}

.ui-accordion .ui-icon-triangle-1-e {
  background-position: -65px -16px;
}

.ui-icon-triangle-1-s {
  background-position: 0px -16px;
}

.ui-widget-content {
  border: none !important;
}

.additional-information-details h3.details-title {
  font-family: "Noto Sans";
  font-size: 12px;
  font-weight: 700;
  color: #525252;
  line-height: 17.14px;
}

.additional-information-details .attribute-label {
  font-size: 12px;
  font-family: "Noto Sans";
  color: #161616;
  line-height: 17.14px;
  font-weight: 400;
}

.additional-information-documentation .documentation a {
  font-family: "Noto Sans";
  color: #161616;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.14px;
}

h1.be-product-sku {
  margin-bottom: -20px;
  color: #222222;
  font-size: 32px;
  font-weight: 400;
  line-height: 44.8px;
  font-family: "Noto Sans";
}

.product-configurator-row {
  background-color: #f4f4f4;
}

.product-configurator-row .be-title {
  font-size: 30px;
  font-weight: 400;
  color: #161616;
  font-family: "Noto Sans";
  line-height: 42.85px;
  margin: 37px 0px 0px;
  padding: 0px 0px 25px 16px;
}

.product-configurator-download-button,
.product-configurator-save-button {
  font-family: "Noto Sans";
  font-size: 14px;
  line-height: 20px;
  color: #24a148;
  font-weight: 400;
}

.product-configurator-heading-portion {
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
}

.product-configurator-body-subheading-div {
  border-bottom: 1px solid #e0e0e0;
}

.product-configurator-body-left-portion {
  border-right: 1px solid #e0e0e0;
}

.product-configurator-body-subheading {
  font-family: "Noto Sans";
  font-size: 14px;
  line-height: 20px;
  color: #161616;
  font-weight: 700;
  padding: 25px 0px 20px 16px;
  margin: 0;
}

.pricing-summery {
  font-size: 14px;
  color: #161616;
  font-family: "Noto Sans", sans-serif;
}

.summery-header {
  padding: 17px 0 24px 17px;
  display: flex;
  border-bottom: 1px solid #e0e0e0;
}

.name-wrapper {
  padding-left: 16px;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
}

.main-text {
  font-weight: bold;
  font-size: 14px;
}

.sub-text {
  font-size: 12px;
  color: #525252;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  line-height: 32px;
  padding: 0 16px;
}

.underline {
  border-bottom: 1px solid #e0e0e0;
}

.grand-totals {
  padding-bottom: 4px;
}

.grand-total {
  font-weight: bold;
  line-height: 36px;
  padding-left: 24px;
}

.price-per-item-subheading {
  font-family: "Noto Sans";
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #525252;
  padding-left: 25px;
}

.col-sm-8.product-configurator-body-left-portion {
  padding: 0;
  padding-right: 20px;
}

.personalize-button {
  margin-top: 25px;
}

.button-wrapper {
  background: #24a148;
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-wrapper:hover {
  cursor: pointer;
}

.button-wrapper a {
  font-family: "Noto Sans";
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 400;
}

.button-wrapper a:hover {
  color: #ffffff;
}

.button-wrapper i {
  color: #ffffff;
}

#related-product-footer-portion .wd-carousel-container .wd-el-title {
  display: none !important;
}

#productDetailPage .mto-link {
  background-color: #f4f4f4;
  padding: 16px;
  margin-top: 16px;
}

#productDetailPage .mto-link .heading-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

#productDetailPage .mto-link .heading-wrapper h3 {
  font-family: "Noto Sans";
  color: #222222;
  font-size: 14px;
  line-height: 19.6px;
  font-weight: 700;
}

#productDetailPage .mto-link .detail-wrapper {
  display: flex;
  font-size: 14px;
}

#productDetailPage .mto-link .detail-wrapper img {
  width: 72px;
  margin-right: 16px;
}

#productDetailPage .mto-link .detail-wrapper .details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6px 0;
}

#productDetailPage .mto-link .detail-wrapper .details .details-text {
  font-family: "Noto Sans";
  color: #161616;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

#productDetailPage .mto-link .detail-wrapper .details .sub-details {
  font-size: 12px;
  color: #525252;
}

#productDetailPage .mto-link .detail-wrapper .details a {
  display: flex;
  color: #24a148;
  font-family: "Noto Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

#productDetailPage .mto-link .detail-wrapper .details a .arrow-icon {
  width: 16px;
  margin-left: 12px;
}

.remove-color-row .close-button i.fa-solid.fa-xmark {
  cursor: pointer;
}

.color-input-container .input-quantity-wrapper .input-quantity {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  box-shadow: none;
  transition: none;
  width: 288px;
  height: 48px;
  font-size: 14px;
  background: #fff;
  box-sizing: border-box;
  padding: 0 32px 0 16px;
  border: none;
  border-bottom: 1px solid #8d8d8d;
  outline: none;
  font-weight: bold;
  text-align: left;
  color: #161616;
  font-family: "Noto Sans";
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.color-input-container
  .input-quantity-wrapper
  input[type="number"]::placeholder {
  color: #757782;
  font-weight: 400;
  font-size: 14px;
}

/* Hide the spinner in Chrome, Safari, and Edge */
.color-input-container
  .input-quantity-wrapper
  input[type="number"]::-webkit-outer-spin-button,
.color-input-container
  .input-quantity-wrapper
  input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the spinner in Firefox */
.color-input-container .input-quantity-wrapper input[type="number"] {
  -moz-appearance: textfield;
}

.color-input-container .stock-data {
  background: #f4f4f4;
  color: #24a148;
  border: 1px solid #e0e0e0;
  text-align: center;
  font-family: "Noto Sans";
  font-size: 12px;
  line-height: 17.14px;
  font-weight: 400;
  padding-top: 2px;
  padding-bottom: 2px;
}

#add-more-colors-button {
  border: 1px solid #24a148;
  background: none;
  color: #24a148;
  min-height: 48px;
  font-family: "Noto Sans";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: capitalize;
  outline: none;
  cursor: pointer;
  margin: 14px 16px;
}

.product-configurator-body
  :is(.btn, .button, button, [type="submit"], [type="button"]) {
  padding: 0;
}

.color-input-container .color-name {
  font-family: "Noto Sans";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #161616;
  text-transform: capitalize;
}

.color-dropdown-wrapper
  :is(.btn, .button, button, [type="submit"], [type="button"]):hover {
  color: transparent;
  background-color: transparent;
}

.add-print-position-heading {
  font-family: "Noto Sans";
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #161616;
  padding-left: 20px;
  margin-bottom: 15px;
}

.add-print-position-header {
  border-bottom: 1px solid #e0e0e0;
}

.add-print-position-body .print-position {
  border-bottom: 1px solid #e0e0e0;
}

#add-print-position-button {
  background: none;
  color: #24a148;
  min-height: 48px;
  font-family: "Noto Sans";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: capitalize;
  outline: none;
  cursor: pointer;
  border: 1px solid #24a148;
  margin: 14px 16px;
  padding: 10px;
}

.add-print-position button.modal-close-button {
  color: #fff;
  background: gray;
  padding: 10px 20px !important;
  border-radius: 5px;
}

.add-print-position button.modal-save-button {
  color: #fff !important;
  background: #24a148 !important;
  padding: 10px 20px !important;
  border-radius: 5px;
}

.add-print-position .modal-close-icon span {
  background: transparent !important;
  font-size: 20px;
  font-weight: 400;
}

.position-name {
  font-family: "Noto Sans";
  font-size: 12px;
  line-height: 17.14px;
  font-weight: 700;
  color: #393939;
}

.position-infos {
  font-family: "Noto Sans";
  font-size: 12px;
  line-height: 17.14px;
  font-weight: 700;
  color: #8d8d8d;
}

.input-title {
  font-family: "Noto Sans";
  color: #161616;
  font-size: 12px;
  line-height: 17.14px;
  font-weight: 400;
}

.print-position-number {
  font-family: "Noto Sans";
  font-size: 14px !important;
  color: #161616 !important;
  border: none !important;
  text-align: left !important;
  padding-top: 25px !important;
  padding-left: 8px !important;
  margin-right: 1px !important;
}

.border-right {
  border-right: 1px solid #e0e0e0;
}

/* Hide the spinner in Chrome, Safari, and Edge */
.add-print-position-body input[type="number"]::-webkit-outer-spin-button,
.add-print-position-body input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the spinner in Firefox */
.add-print-position-body input[type="number"] {
  -moz-appearance: textfield;
}

.colors-wrapper select {
  width: 150px;
  height: 48px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #8d8d8d;
  color: #161616;
  cursor: pointer;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #fff;
  background-image: none;
}

.product-configurator-body .modal-dialog {
  max-width: 732px !important;
  margin: 1.75rem auto;
}

.modal-item-title {
  font-family: "Noto Sans";
  font-size: 14px;
  font-weight: 700;
  color: #161616;
  text-transform: uppercase;
  text-align: left;
}

.modal-item-dimensions {
  font-family: "Noto Sans";
  font-size: 12px;
  color: #6f6f6f;
}

.cursor-pointer {
  cursor: pointer;
}

.modal-item-color-count {
  display: block;
  margin-top: -5px;
  margin-bottom: 1rem;
  margin-left: 1.8rem;
  font-size: 12px;
  color: #6f6f6f;
}

.modal-item-clear-button {
  display: block;
  color: #198038 !important;
  background-color: transparent !important;
  font-family: "Noto Sans";
  font-weight: 400;
  text-transform: capitalize !important;
}

.modal-item-clear-button:hover {
  background-color: #e5e5e5 !important;
}

button[disabled],
input[disabled],
.disabled {
  opacity: 0.6 !important;
  cursor: not-allowed !important;
}
